<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">오시는 길</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container" style="width:50%">
        <div class="row">
          <div class="col-lg-6 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-calendar wow bounceIn text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
                  <h3>일시</h3>
                  <p class="text-muted">2020년 11월 14일 (토) 저녁 6:00</p>
              </div>
          </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                    <h3>장소</h3>
                    <p class="text-muted"><a href="http://naver.me/Gyj58sFC">울산 남구 문수로 352<br>옥동문화뷔페 4층</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <a href="tel:010-8982-2244" class="btn btn-primary btn-xl page-scroll">아빠 하민수 전화</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <a href="tel:010-2071-3031" class="btn btn-primary btn-xl page-scroll">엄마 최성은 전화</a>
                </div>
            </div>
        </div>
    </div>
</section>
